<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Shopping</title>
  <link rel="stylesheet" href="/assets/stylesheet/shopping_cart.css">
</head>
<body>
<div id="header">
  <div class="title">
    <a href="/"><span class="strong">Shopping</span></a>
  </div>
  <div class="header-menu">
    <a class="signup-link" href="/signup">ユーザー登録</a>
  </div>
</div>
  
</body>
</html>
