<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>カートの中身</title>
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.css">
  </head>
  <body>
    <div class="container">
    </div>
    <p><a href="/">HOME</a></p>
  </body>
</html>
