<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ユーザー登録</title>
  <link rel="stylesheet" href="/assets/stylesheet/shopping_cart.css">
</head>
<body>
  <h1>ユーザー登録</h1>
</body>
</html>